#employeeImg {
    vertical-align: middle;
    border-radius: 100%;
    width: 3rem;
    margin-right: 1vw;
}

:host ::ng-deep .p-dropdown {
    width: 10rem;
}

:host ::ng-deep .p-dropdown {
    width: 10rem;
}

:host ::ng-deep .p-toolbar {
    margin: 0;
    padding: .3rem;
}

:host ::ng-deep .mytable {

    table {
        height:72vh;
    }

    tr > td {
        margin:auto;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }
}
