:host ::ng-deep{
    .p-chip {
        height: 2.3rem;
    }

    .p-chip-text{
        padding-inline: .5rem;
    }
}

button.p-element.p-button-raised.p-button-rounded.p-button-sm.p-button.p-component {
    height: fit-content;
    font-size: 1rem;
}