

:host {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height:93vh; 
}

:host > p-card {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height:90% !important;
    width: 35% !important;
}
