<p-toast></p-toast>
<p-card class="flex justify-content-center align-items-center shadow-8 border-round-lg">
    <div class="flex justify-content-center align-items-center pb-3">
        <p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"
        (click)="handleRoute()">
        </p-selectButton>
    </div>
    <form [formGroup]="logForm" (ngSubmit)="logUser()">
        <div class="formgrid grid">
            <div class="field col-12 flex justify-content-center flex-column">
                <label for="email" class="block">Email</label>
                <input type="email" pInputText formControlName="mail">
                <small class="red" *ngIf="mail?.errors?.['required'] && mail?.dirty">Mail is required</small>
                <small class="red" *ngIf="!mail?.errors?.['required'] && mail?.errors?.['emailValidator']">Invalid Format</small>
                                                        <!--  -->
                <label for="password1" class="block">Password</label>
                <input type="password" pInputText formControlName="password1" type="password"> 
                <small class="red" *ngIf="password1?.errors?.['required'] && password1?.dirty">Password is required</small>
                <small class="red" *ngIf="password1?.errors?.['minlength']">
                This field must have at least 3 character.</small>
                <small class="red" *ngIf="password1?.errors?.['maxlength']">
                This field must contain atmost 8 characters.</small>
                {{ password1?.errors | json}}
            </div>
            <div class="field col-12 flex justify-content-center flex-column">
            <button pButton type="reset" label="Reset" class="p-button-info mb-3 mt-3" icon="pi pi-times"
                iconPos="left">
            </button>
            <button pButton type="submit" label="Submit" icon="pi pi-check" iconPos="left" 
                [disabled]="logForm.invalid"></button>
            </div>
        </div>
    </form>
</p-card>